# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

app/.env
app/yarn.lock
app/package-lock.json

# dependencies
app/node_modules
app/.pnp
.pnp.js

# testing
/coverage

# next.js
app/.next/
/out/

# production
app/build

# misc
app/.DS_Store

# debug
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# local env files
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
